   #Options +FollowSymLinks
   #Disable directory browsing
   #Options All -Indexes

   #enable rewrite rule
   RewriteEngine on

   #Send request via index.php
   # Allow any files or directories that exist to be displayed directly
   RewriteCond ${REQUEST_URI} ^.+$
   RewriteCond %{REQUEST_FILENAME} \.(gif|jpe?g|png|js|css|swf|php|ico|txt|pdf|xml)$ [OR]
   RewriteCond %{REQUEST_FILENAME} -f [OR]
   RewriteCond %{REQUEST_FILENAME} -d [OR]
   RewriteCond %{REQUEST_FILENAME} -l
   RewriteRule ^ - [L]
   
   #Rewrite rule
   RewriteRule ^([^/]*)/([^/]*)/([^/]*)$ /framework-f/index.php?p=$1&c=$2&a=$3 [L]
   RewriteRule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)$ /framework-f/index.php?p=$1&c=$2&a=$3&lang=$4 [L]
   RewriteRule ^400$ /framework-f/errors/400.html [L]
   RewriteRule ^401$ /framework-f/errors/401.html [L]
   RewriteRule ^403$ /framework-f/errors/403.html [L]
   RewriteRule ^404$ /framework-f/errors/404.html [L]
   RewriteRule ^500$ /framework-f/errors/500.html [L]

   #Serve custom error pages
   ErrorDocument 400 http://localhost/framework-f/400
   ErrorDocument 401 http://localhost/framework-f/401
   ErrorDocument 403 http://localhost/framework-f/403
   ErrorDocument 404 http://localhost/framework-f/404
   ErrorDocument 500 http://localhost/framework-f/500


   # secure htaccess file
   <Files .htaccess>
    order allow,deny
    deny from all
   </Files>

